# Mac-stuff
.DS_Store

# Build by-products.
*.aux
*.log
*.mw
*.out
document.pdf
*.synctex.gz
*.fdb_latexmk
*.fls
# Do not commit PDFs, please.
matlab-submission.zip

# Autosaves
*~
*.mdl.autosave
*.bak

# Matlab build
*_grt_rtw/
*_sfun.mexa64
slprj/

# IDEA-IDE
.idea
