# Mac-stuff
.DS_Store

# Build by-products.
document.aux
document.log
document.mw
document.out
document.pdf
document.synctex.gz
# Do not commit PDFs, please.

# Autosaves
*~
*.mdl.autosave

# Matlab build
*_grt_rtw/
*_sfun.mexa64
slprj/

