# Mac-stuff
.DS_Store

# Build by-products
*.aux
*.log
*.mw
*.out
document.pdf
verification.pdf
# Do not commit PDFs, please.
*.synctex.gz
*.fdb_latexmk
*.fls
matlab-submission.zip
work-*.cf
# ghdl directory index; newest ghdl version uses obj93 on my platform
*.vcd
# Debatable, but let's ignore vcds for now.
# Recall that there's always "git add -f important.vcd"

# Autosaves
*~
*.mdl.autosave
*.slx.autosave
*.bak

# Matlab build
*_grt_rtw/
*_sfun.mexa64
slprj/

# IDEA-IDE
.idea

# Evil intermediate files
__pycache__/
